<% prefix = @item.new_record? ? 'new_' : 'edit_' %>
<%= form_for(@item, url: url, prepend_id: prefix, remote: true, html: {novalidate: "novalidate"}) do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, required: true %>
    </div>
     
    <div class="grid-x grid-margin-x">
        <div class="cell large-auto">
            <div class="field">
                <%= f.label :category_id %>
                <%= f.select :category_id, @account.user.categories.map { |c| [c, c.id] } + [["-- Create Category --", "new"]], {include_blank: "No Category"}, class: 'toggle-fields', data: {toggle_new: 'new-category-field'} %>
            </div>
        </div>

        <div class="cell large-6" id="new-category-field">
            <div class="field">
                <%= label_tag :new_category %>
                <%= text_field_tag :new_category, '', autofocus: true, required: true %>
                <p class="form-error">New category can't be blank</p>
            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <div class="cell shrink">
            <div class="field">
                <%= f.label :is_bill %>
                <%= f.switch :is_bill %>
            </div>
        </div>

        <div class="cell auto">
            <div class="field">
                <%= f.label :amount %>
                <%= f.number_field :amount, step: :any, required: true, data: {validator: 'greater_than', greater_than: 0} %>
            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <div class="cell shrink">
            <div class="field">
                <%= f.label :repeat, "Recurring" %>
                <%= f.switch :repeat, class: 'toggle-fields', data: {toggle_true: 'repeat-frequency-field repeat-type-field end-date-field'} %>
            </div>
        </div>
        <div class="cell auto">
            <div class="field" id="repeat-frequency-field">
                <%= f.label :repeat_frequency, "Repeats Every" %>
                <%= f.number_field :repeat_frequency, required: true %>
            </div>
        </div>
        <div class="cell auto">
            <div class="field" id="repeat-type-field">
                <%= f.label :repeat_type, "&nbsp;".html_safe %>
                <%= f.select :repeat_type, Item.repeat_types.keys.map { |w| [w.pluralize.humanize, w] }, {prompt: "-- Select Interval --"}, required: true %>
            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <div class="cell large-auto">
            <div class="field">
                <%= f.label :start_date %>
                <%= f.text_field :start_date, required: true, class: 'datepicker-field', placeholder: 'YYYY/MM/DD', data: {inline: true} %>
            </div>
        </div>

        <div class="cell large-6" id="end-date-field">
            <div class="field">
                <%= f.label :end_date %>
                <%= f.text_field :end_date, class: 'datepicker-field', placeholder: 'YYYY/MM/DD', data: {inline: true} %>
            </div>
        </div>
    </div>

    <div class="field">
        <%= f.label :note %>
        <%= f.text_area :note %>
    </div>

    <div class="grid-x">
        <div class="cell medium-auto">
            <button class="button secondary" data-close aria-label="Close" type="button">
                Close
            </button>

            <% if !@item.new_record? %>
                <%= link_to '<i class="fas fa-trash"></i>'.html_safe, account_item_path(@item.account, @item), method: :delete, data: { confirm: "Are you sure you want to delete this transaction?" }, remote: true, class: 'button alert' %>
            <% end %>
        </div>
        <div class="grid-x medium-shrink">
            <%= f.submit "Submit", class: 'button' %>
        </div>
    </div>
<% end %>