<%= form_for(@item, url: url, html: {novalidate: "novalidate", data: {abide: ''}}) do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, required: true %>
    </div>
     
    <div class="grid-x grid-margin-x">
        <div class="cell large-auto">
            <div class="field">
                <%= f.label :category_id %>
                <%= f.select :category_id, @account.user.categories.map { |c| [c, c.id] } + [["-- Create Category --", "new"]], {include_blank: "No Category"}, class: 'toggle-fields', data: {toggle_new: 'new-category-field'} %>
            </div>
        </div>

        <div class="cell large-6" id="new-category-field">
            <div class="field">
                <%= label_tag :new_category %>
                <%= text_field_tag :new_category, '', autofocus: true, required: true %>
                <p class="form-error">New category can't be blank</p>
            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <div class="cell shrink">
            <div class="field">
                <%= f.label :is_bill %>
                <%= f.switch :is_bill %>
            </div>
        </div>

        <div class="cell auto">
            <div class="field">
                <%= f.label :amount %>
                <%= f.number_field :amount, step: :any, required: true, data: {validator: 'greater_than', greater_than: 0} %>
            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <div class="cell shrink">
            <div class="field">
                <%= f.label :repeat, "Recurring" %>
                <%= f.switch :repeat, class: 'toggle-fields', data: {toggle_true: 'repeat-frequency-field repeat-type-field start-date-label', toggle_false: 'date-label'} %>
            </div>
        </div>
        <div class="cell auto">
            <div class="field" id="repeat-frequency-field">
                <%= f.label :repeat_frequency, "Repeats Every" %>
                <%= f.number_field :repeat_frequency, required: true %>
            </div>
        </div>
        <div class="cell auto">
            <div class="field" id="repeat-type-field">
                <%= f.label :repeat_type, "&nbsp;".html_safe %>
                <%= f.select :repeat_type, Item.repeat_types.keys.map { |w| [w.pluralize.humanize, w] }, {prompt: "-- Select Interval --"}, required: true %>
            </div>
        </div>
    </div>

    <div class="field">
        <%= label_tag :start_end_date, 'Date', id: 'date-label' %>
        <%= label_tag :start_end_date, 'Start date - End date', id: 'start-date-label' %>
        <%= text_field_tag :start_end_date, @item.form_date, required: true, pattern: '', placeholder: 'MM/DD/YYYY' %>
        <p class="form-error">Date can't be blank</p>
    </div>

    <%= f.hidden_field :start_date %>
    <%= f.hidden_field :end_date %>

    <div class="field">
        <%= f.label :note %>
        <%= f.text_area :note %>
    </div>

    <div class="grid-x">
        <div class="cell medium-auto">
            <%= link_to "Back", account_items_path, class: 'button secondary' %>
        </div>
        <div class="grid-x medium-shrink">
            <%= f.submit "Submit", class: 'button' %>
        </div>
    </div>
<% end %>