<div class="grid-x">
    <div class="cell auto">
        <h1>Items</h1>
    </div>
    <div class="cell shrink">
        <%= link_to 'New', new_account_item_path %>
    </div>
</div>

<div class="grid-x align-center grid-padding-y">
    <div class="cell large-1">
    </div>
    <div class="cell large-2">
        <b>Date</b>
    </div>
    <div class="cell large-2">
        <b>Name</b>
    </div>
    <div class="cell large-2">
        <b>Category</b>
    </div>
    <div class="cell large-2">
        <b>Amount</b>
    </div>
    <div class="cell large-2">
        <b>Repeats</b>
    </div>
    <div class="cell large-1">
        <b>Actions</b>
    </div>
</div>
<% @items.each do |item| %>
    <div class="grid-x align-center grid-padding-y">
        <div class="cell large-1">
            <%= item.is_bill ? '-' : '+' %>
        </div>
        <div class="cell large-2">
            <%= item.start_date %>
        </div>
        <div class="cell large-2">
            <%= item.name %>
        </div>
        <div class="cell large-2">
            <%#= item.category %>
        </div>
        <div class="cell large-2">
            <%= number_to_currency(item.amount) %>
        </div>
        <div class="cell large-2">
            <%= item.display_repeat_details %>
        </div>
        <div class="cell large-1">
            <%= link_to 'Edit', edit_account_item_path(@account, item) %> | <%= link_to 'Delete', account_item_path(@account, item), method: :delete %>
        </div>
    </div>
<% end %>