<%= form_for(@category) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :budget %>
    <%= f.number_field :budget, step: :any %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: 'button' %>
  </div>
<% end %>
