<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= yield_meta_tag(:description) %>" />
    <meta name="keywords" content="<%= yield_meta_tag(:keywords) %>" />
  </head>

  <body data-group="<%= controller_name %>" data-view="<%= action_name %>">
    <%= render 'header'; %>

    <div class="grid-container">
      <%= yield %>
    </div>


    <%= render 'footer'; %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.min.js" defer></script>
  </body>
</html>
